SECRET.md
.env

# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.log
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.rsuser
*.userprefs
*.userosscache
*.sln.docstates
